BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: false
SpaceInEmptyBlock: false
BreakBeforeBraces: Allman
ColumnLimit: 200
NamespaceIndentation: All
SortIncludes: false
